body {
  margin: 0;
  font-family: 'Prompt', sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 10px 40px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
}

/* โลโก้ (ลิงก์) */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

/* โลโก้รูปภาพ */
.logo-image {
  width: 180px;       /* ปรับขนาดโลโก้ */
  height: auto;
  display: block;
}

@media (max-width: 768px) {
  .logo-image {
    width: 140px;
  }
}

.search-bar {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 30px;
  padding: 5px 10px;
  width: 40%;
}

.search-bar input {
  border: none;
  outline: none;
  background: none;
  flex: 1;
  padding: 8px;
}

.search-bar button {
  border: none;
  background: #2ecc71;
  color: white;
  padding: 8px 16px;
  border-radius: 30px;
  cursor: pointer;
}

.menu {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0;
  padding: 0;

  .home-page {
    background-color: #f1f1f1;
  }

}

.menu li a {
  display: inline-block;
  text-decoration: none;
  color: #333;
  font-weight: 500;
  transition: color 0.3s;
  padding: 15px;
  border-radius: 10px;
  transition: all 0.3s ease;
}

.menu li a:hover {
  color: #23ae5d;
  transform: scale(1.1);
} 



.icons img {
  width: 28px;
  margin-left: 15px;
  cursor: pointer;
}

.icons {
  .cart-image {
    width: 30px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
  }
  .acc-image {
    width: 30px;
    height: auto;
    padding: 10px;
    transition: transform 0.3s ease;
  }
}

.cart-image:hover {
    transform: scale(1.3);
  }
.acc-image:hover{
  transform: scale(1.3);
}
